---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Guillermo Felipe Coronel</div>
  </div>

  <div class="mb-10 text-justify">
    Apasionado programador junior en aprendizaje continuo y experiencia en el
    sector tecnológico, especializado en el desarrollo de aplicaciones
    multiplataforma y web. He trabajado en el mantenimiento de herramientas y
    aplicaciones bancarias, desarrollo y diseño software y proyectos, en
    colaboración de equipo, con objetivo de solución de problemas y comunicación
    efectiva, mediante procesos de desarrollo ágil. Mi experiencia incluye
    lenguajes de programación, bases de datos para clientes de banca y tareas de
    automatización. Actualmente, he terminado un bootcamp de Hack a Boss Data
    Science, y me encuentro estudiando una carrera de Ingeniería informática en
    la UPM y un curso de la comunidad de Madrid en Core Networks de Confección y
    publicación de páginas web.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master de Big Data and Business Analytics."
      subtitle="09/2021 hasta 06/2022 en ISEP CEU Instituto Superior de Estudios Profesionales, Madrid, España"
    />
    <TimeLineElement
      title=" FP Superior desarrollo de aplicaciones web."
      subtitle="10/2020 hasta 06/2021 en  ISEP CEU Instituto Superior de Estudios Profesionales, Madrid, España"
    />
    <TimeLineElement
      title="FP superior de desarrollo de aplicaciones multiplataforma."
      subtitle="09/2017 hasta 06/21021 en  ISEP CEU Instituto Superior de Estudios Profesionales, Madrid, España"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title=" Analista Corporativo."
      subtitle="2023 en Accenture, Madrid, España"
    >
      Realización en grupo de redacción de preguntas y respuestas siguiendo
      directrices de anotación proporcionada por los líderes del equipo.
      Cliente: Amazon.
    </TimeLineElement>
    <TimeLineElement
      title=" Auxiliar Administrativo "
      subtitle="2023 en Accenture, Madrid, España"
    >
      Realización de tareas de consulta de Bases de datos grafo volcando los
      datos en un excel. Clientes: BBVA.
    </TimeLineElement>
    <TimeLineElement
      title=" Bussiness Arquitect"
      subtitle="2022 en Accenture, Madrid, España"
    >
      Realizando mantenimiento de aplicación bancaria con Cells, Polymer 3 y Lit Element, 
      desarrollo web. Metodología: Agile, Scrum, Kanban.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>


  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      
        Curso de Confección y publicación de páginas web
      
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Java</li>
    <li>JavaScript</li>
    <li>C#</li>
    <li>Python</li>
    <li>Lit element</li>
    <li>Scikit-Learn</li>
    <li>PySpark</li>
    <li>Cells</li>
    <li>Tensorflow</li>
    <li>Plotly</li>
    <li>SQL</li>
    <li>MySQL</li>
    <li>Neo4J</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
</BaseLayout>
